<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Mediscreen - Patient list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-lg p-3 bg-light border border-5 border-dark">

    <div class="w-100 btn bg-secondary my-auto">
        <p class="my-auto">
            <span class="text-white">Mediscreen</span>
        </p>
    </div>

    <div class="p-1 text-center">
        <h2>Patient List</h2>
        <h3 th:if="${missingPatientId}" class="text-danger p-1">can't get/update/delete missing patient - please choose
            a new one</h3>
        <h3 th:if="${rightCreatedPatient}" class="text-success p-1">patient has been successfully added</h3>
        <h3 th:if="${rightDeletedPatient}" class="text-success p-1">patient has been successfully deleted</h3>
    </div>

    <div class="p-1 m-auto w-75">
        <!--suppress HtmlUnknownTarget -->
        <a href="/patient/add" class="btn btn-primary w-100">Add New Patient</a>
    </div>

    <div class="p-1">
        <table class="table table-bordered table-striped text-center m-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th>id</th>
                <th>family</th>
                <th>given</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td class="text-center w-25">
                    <a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-dark p-1 m-0">Edit</a>
                    <a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="btn btn-danger p-1 m-0">Del.</a>
                    <a th:href="@{/patientnote/list/patient/{patientid}(patientid=${patient.id})}"
                       class="btn btn-primary p-1 m-0">Notes</a>
                    <a th:href="@{/patientdiabetes?patientId={id}(id=${patient.id})}"
                       class="btn btn-success p-1 m-0">Diab.</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>