<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Mediscreen - Patient list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-lg p-3 bg-light border border-5 border-success">

    <div class="w-100 btn bg-secondary my-auto">
        <p class="my-auto">
            <span class="text-white">Mediscreen</span>
        </p>
    </div>

    <div class="p-1 text-center">
        <h2>Patient Diabetes Report</h2>
    </div>

    <div class="p-1">
        <table class="table table-bordered table-striped text-center m-0">
            <tr>
                <td class="w-25">id</td>
                <td th:text="${patientDiabetesReport.patient.id}"></td>
            </tr>
            <tr>
                <td class="w-25">family</td>
                <td th:text="${patientDiabetesReport.patient.family}"></td>
            </tr>
            <tr>
                <td class="w-25">given</td>
                <td th:text="${patientDiabetesReport.patient.given}"></td>
            </tr>
            <tr>
                <td class="w-25">dob</td>
                <td th:text="${patientDiabetesReport.patient.dob}"></td>
            </tr>
            <tr>
                <td class="w-25">sex</td>
                <td th:text="${patientDiabetesReport.patient.sex}"></td>
            </tr>
            <tr>
                <td class="w-25">address</td>
                <td th:text="${patientDiabetesReport.patient.address}"></td>
            </tr>
            <tr>
                <td class="w-25">phone</td>
                <td th:text="${patientDiabetesReport.patient.phone}"></td>
            </tr>
            <tr>
                <td class="w-25 bg-dark text-white">diabetesRating</td>
                <td class="bg-dark text-white" th:text="${patientDiabetesReport.patientDiabetesRating}"></td>
            </tr>
        </table>
    </div>

    <div class="w-50 m-1">
        <a href="/patient" class="btn btn-success">Go back to patient list</a>
    </div>

</div>
</body>
</html>