<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Mediscreen - PatientNote list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-lg p-3 bg-light border border-5 border-primary">

    <div class="w-100 btn bg-secondary my-auto">
        <p class="my-auto">
            <span class="text-white">Mediscreen</span>
        </p>
    </div>

    <div class="p-1 text-center">
        <h2>PatientNote List</h2>
        <h3>
            <span>patientId : </span>
            <span th:text="${patientBreadCrumb.patientId}"></span>
        </h3>
        <h3 th:if="${missingPatientNoteId}" class="text-danger p-1">can't update/delete missing patientNote - please
            choose a new one</h3>
        <h3 th:if="${rightCreatedPatientNote}" class="text-success p-1">patientNote has been successfully added</h3>
        <h3 th:if="${rightDeletedPatientNote}" class="text-success p-1">patientNote has been successfully deleted</h3>
    </div>

    <div class="p-1 m-auto w-75">
        <form th:action="@{/patientnote/add}" th:object="${patientBreadCrumb}" method="get">
            <input type="text" th:field="*{patientId}" hidden/>
            <button type="submit" class="btn btn-primary w-100">Add New PatientNote</button>
        </form>
    </div>

    <div class="p-1">
        <table class="table table-bordered table-striped text-center m-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th>id</th>
                <th>patientId</th>
                <th>patientNote</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patientNote : ${patientNotes}">
                <td th:text="${patientNote.id}"></td>
                <td th:text="${patientNote.patientId}"></td>
                <td th:text="${patientNote.patientNote}"></td>
                <td class="text-center w-25">
                    <div class="d-flex justify-content-center">
                        <form th:action="@{/patientnote/update/{id}(id=${patientNote.id})}"
                              th:object="${patientBreadCrumb}"
                              method="get" class="m-1">
                            <input type="text" th:field="*{patientId}" hidden/>
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </form>
                        <form th:action="@{/patientnote/delete/{id}(id=${patientNote.id})}"
                              th:object="${patientBreadCrumb}"
                              method="get" class="m-1">
                            <input type="text" th:field="*{patientId}" hidden/>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="w-50 m-1">
        <a href="/patient" class="btn btn-success">Go back to patient list</a>
    </div>

</div>
</body>
</html>