<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Mediscreen - PatientNote update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-lg p-3 bg-light border border-5 border-primary">

    <div class="w-100 btn bg-secondary my-auto">
        <p class="my-auto">
            <span class="text-white">Mediscreen</span>
        </p>
    </div>

    <div class="m-auto w-50">

        <div class="text-center">
            <h2 class="p-1">Update PatientNote</h2>
            <h3>
                <span>patientId : </span>
                <span th:text="${patientBreadCrumb.patientId}"></span>
            </h3>
            <h3 th:if="${rightUpdatedPatientNote}" class="text-success p-1">PatientNote has been successfully
                updated</h3>
        </div>

        <div class="w-100 m-auto">

            <form th:action="@{/patientnote/update/{id}(id=${patientNote.id})}" th:object="${patientNote}"
                  method="post">

                <div class="form-group p-1">
                    <label for="patientNote" class="form-label">patientNote</label>
                    <textarea type="text" th:field="*{patientNote}" id="patientNote" placeholder="patientNote"
                              class="form-control"
                              autofocus="autofocus">
                    </textarea>
                    <input type="text" th:field="*{patientId}" hidden/>
                    <input type="text" th:field="*{id}" hidden/>
                </div>

                <div class="form-group p-1">
                    <div class="d-flex justify-content-between">
                        <!--suppress HtmlUnknownTarget -->
                        <a th:if="${rightUpdatedPatientNote}" class="btn btn-success w-25"
                           th:href="@{/patientnote/list/patient/{patientId}(patientId=${patientNote.patientId})}">Return</a>
                        <a th:unless="${rightUpdatedPatientNote}" class="btn btn-danger w-25"
                           th:href="@{/patientnote/list/patient/{patientId}(patientId=${patientNote.patientId})}">Cancel</a>
                        <input class="btn btn-primary w-50" type="submit" value="Update PatientNote"/>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
</body>
</html>